<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Encryption</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />

    <style>
      .alert {
        background: teal;
        padding: 1rem;
        border-radius: 5px;
        color: white;
        margin: 1rem;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h3>Encryption demo</h3>
    </div>

    <!-- Form -->
    <div class="container">
      <form action="/encrypt" method="POST">
        <label for="sender">Sender name</label>
        <input
          type="text"
          placeholder="Alice"
          class="u-full-width"
          name="sender"
        />

        <label for="receiver">Receiver name</label>
        <input
          type="text"
          placeholder="Bob"
          class="u-full-width"
          name="receiver"
        />
        <label for="message">Message</label>
        <input
          type="text"
          placeholder="Your massage"
          class="u-full-width"
          name="message"
        />
        <input type="submit" value="Encrypt message" id="encr_btn" />
        <br />
        <div class="alert">
          {{ integrity}}
        </div>
          <div style="height:120px;width:device-width;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;white-space: pre-wrap;">{{key}}&#10;{{encr}}&#10;{{decr}}
          </div>
      </form>
    </div>
  </body>
</html>